.landing-section {
  @include section;
  height: 100vh;
  background-image: url(../pictures/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__container {
    @include container;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  &__textarea {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: white;

    &-p {
      font-size: 1.5rem;
      @include roboto-black-italic;
    }
    &-title {
      font-size: 5rem;
      @include roboto-bold-italic;
    }
  }
  &__plateform {
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
  }
}

.about-section {
  @include section;
  margin-top: 3.5rem;

  &__container {
    text-align: center;
    @include container;
  }
  &__photo {
    margin: 0 auto;
    margin-top: 2.5rem;
    width: 384px;
    & + div {
      margin-top: 1.25rem;
    }
  }
  &__title {
    text-align: center;
    font-size: 4rem;
    @include roboto-medium-italic;
  }
  &__p {
    font-size: 1.5rem;
    text-align: center;
    @include roboto-bold-italic;
  }
  &__textarea {
    margin-top: 1.25rem;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: baseline;
    align-items: baseline;
    margin-top: 1.75rem;
  }
}

.dot {
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 9999px;
  margin: auto 1rem;
}

.intro-section {
  @include section;
  flex-direction: column;
  margin-top: 3.5rem;
  background-color: black;
  color: white;

  &__container {
    @include container;
  }
  &__textarea {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    @include roboto-medium-italic;
    &-title {
      font-size: 4rem;
    }
    &-subtitle {
      margin-top: 0.75rem;
      font-size: 1.5rem;
      & ~ div {
        margin-top: 2rem;
      }
    }
    &-p {
      font-size: 1.25rem;
    }
  }
  &__images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem 1.5rem;
    margin-top: 4.25rem;
    margin-bottom: 10rem;
    @include tablet {
      gap: 1.5rem;
    }
    & > img {
      max-width: 100%;
    }
  }
}

.works-section {
  @include section;
  flex-direction: column;
  &__container {
    @include container;
  }
  &__textarea {
    margin-top: 3.5rem;
    @include roboto-medium-italic;
    text-align: center;
    &-title {
      font-size: 4rem;
      & + p {
        margin-top: 1.5rem;
        & + p {
          margin-bottom: 3.5rem;
        }
      }
    }
    &-p {
      font-size: 1.25rem;
    }
  }
  &__cards {
    @include roboto-medium-italic;
    display: grid;
    grid-template-areas: "one one two two three three" "four four four five five five" "six six seven seven eight eight";
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.25rem;
    text-align: center;

    @media screen and (max-width: 1240px) {
      grid-template-areas: "one one two two" ".  three three ." " . four four ." ". five five ." " six six seven seven" ". eight eight .";
    }

    @include tablet {
      grid-template-areas: "one" "two" "three" "four" "five" "six" "seven" "eight";
    }

    & > li:nth-child(1) {
      grid-area: one;
    }
    & > li:nth-child(2) {
      grid-area: two;
    }
    & > li:nth-child(3) {
      grid-area: three;
    }
    & > li:nth-child(4) {
      grid-area: four;
      margin: 2rem auto;
      & > img {
        @include mobile {
          width: 384px;
        }
      }
    }
    & > li:nth-child(5) {
      grid-area: five;
      margin: 2rem auto;
      & > img {
        @include mobile {
          width: 384px;
        }
      }
    }
    & > li:nth-child(6) {
      grid-area: six;
    }
    & > li:nth-child(7) {
      grid-area: seven;
    }
    & > li:nth-child(8) {
      grid-area: eight;
    }
  }
}

.contact-section {
  @include section;
  @include roboto-medium-italic;
  background-color: black;
  color: white;
  &__container {
    @include container;
  }
  margin-top: 9rem;
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 4rem auto;
  }
  &__title {
    font-size: 4rem;
    text-align: center;
  }

  & div > a {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: inherit;
  }
}
